<h2>Gotta Catch 'Em All! </h2>

<div class="row">
  <div class="col-12 d-flex flex-wrap justify-content-around">
    {{#each captured as |caught| }}
    <div class="card mb-4" style="width: 25rem;">
      <div class="card-header">
        <img src={{caught.image_url}} class="card-img-top" alt="{{caught.name}}">
        <p class="card-title" href="/pokemon/{{caught.name}}">{{caught.name}}</p>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Id: {{caught.p_id}}</li>
          <li class="list-group-item">Types: {{caught.types}}</li>
          <li class="list-group-item">Abilities: {{caught.abilities}}</li>
          <li class="list-group-item">Strengths: {{caught.strengths}}</li>
          <li class="list-group-item">Weaknesses: {{caught.weaknesses}}</li>
          <li class="list-group-item">Base HP: {{caught.base_hp}}</li>
          <li class="list-group-item">Base Attack: {{caught.base_attack}}</li>
          <li class="list-group-item">Base Defense: {{caught.base_defense}}</li>
          <li class="list-group-item">Speed: {{caught.speed}}</li>
          <li class="list-group-item">Weight: {{caught.weight}}</li>
          <li class="list-group-item">
            <p>Evolutions</p>
            <a class="evo-pic" href="/pokemon/{{caught.evolutions.[0]}}"><img src="{{caught.evo_pic.[0]}}"
                class="evo-pic" alt=""></a>
            {{#if caught.evo_pic.[1]}}
            -><a class="evo-pic" href="/pokemon/{{caught.evolutions.[1]}}"><img src="{{caught.evo_pic.[1]}}"
                class="evo-pic" alt=""></a>
            {{/if}}
            {{#if caught.evo_pic.[2]}}
            -><a class="evo-pic" href="/pokemon/{{caught.evolutions.[2]}}"><img src="{{caught.evo_pic.[2]}}"
                class="evo-pic" alt=""></a>
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
    {{/each}}

  </div>
</div>

<div class="row">
  <div class="col-12 d-flex flex-wrap justify-content-around">
    {{#each pokemons as |pokemon| }}
    <div class="card mb-4" style="width: 18rem;">
      <div class="card-header">
        <img src={{pokemon.image_url}} class="card-img-top" alt="{{pokemon.name}}">
        <a class="card-title" href="/pokemon/{{pokemon.name}}">{{pokemon.name}}</a>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Id: {{pokemon.p_id}}</li>
          <li class="list-group-item">Types: {{pokemon.types}}</li>
          <li class="list-group-item">Abilities: {{pokemon.abilities}}</li>
        </ul>
        <div class="card-body">
          <button class="add-btn" data-name="{{pokemon.name}}" data-id="{{pokemon.p_id}}">Add to Collection</button>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/dashboard.js"></script>