<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-around">

      {{#each pokemons as |pokemon| }}
      <div class="card mb-5" style="width: 18rem;">
        <div class="card-header">
          <img src={{pokemon.image_url}} class="card-img-top" alt="{{pokemon.name}}">
          <h3 class="card-title">{{pokemon.name}}</h3>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Id: {{pokemon.p_id}}</li>
            <li class="list-group-item">Generation: {{pokemon.generation}}</li>
            <li class="list-group-item">Types: {{pokemon.types}}</li>
            <li class="list-group-item">Abilities: {{pokemon.abilities}}</li>
            <li class="list-group-item">Strengths: {{pokemon.strengths}}</li>
            <li class="list-group-item">Weaknesses: {{pokemon.weaknesses}}</li>
            <li class="list-group-item">Weight: {{pokemon.weight}}</li>
          </ul>
        </div>
      </div>
      {{/each}}
        
    </div>
  </div>
</div>
