<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-around">

      {{#each pokemons as |pokemon| }}
      <div class="card mb-5" style="width: 18rem;">
        <div class="card-header">
          <img src={{pokemon.image_url}} class="card-img-top" alt="{{pokemon.name}}">
          <a href="/pokemon/{{pokemon.name}}" id="pokename">{{pokemon.name}}</a>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Id: {{pokemon.p_id}}</li>
            <li class="list-group-item">Types: {{pokemon.types}}</li>
            <li class="list-group-item">Abilities: {{pokemon.abilities}}</li>
          </ul>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>