
{{!-- make this the display of all the pokemon in the game.  Make the name of the pokemon a hyperlink so it can be added to the users favorites or caught lists. --}}

<div class="flex-row ">
  <div class="flex-column justify-space-around">
    <div class="pokemon-title">
      <h2>
        <a href="/pokemon/{{pokemons.name}}" id="pokename">{{pokemons.name}}</a>
        <form class="favorite_captured">
          <label for="favorite">Make a Favorite?</label><input type="checkbox" name="favorite" id="favorite">
          <label for="favorite">Captured?</label><input type="checkbox" name="captured" id="captured">
        </form>
        <p>{{pokemons.types}}</p>
        <p>{{pokemons.abilities}}</p>
        <img src="{{pokemons.image_url}}" alt="">
        {{!-- double check how to reference a user_id as part of a query --}}
      </h2>
    </div>
  </div>
</div>

<script src="/js/pokemon.js"></script>